@media screen and (min-width: 768px) {
    header > div {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    #category-container,
    #featured-motorcycles,
    #motorcycle-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #categories,
    #featured {
        margin-bottom: 2rem;
    }

    form {
        margin: 1.5rem auto;
    }
    
    .header-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .menu-toggle {
        display: none;
    }

    header nav {
        display: block;
        width: auto;
    }

    header nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    #community-form {
        margin: 2rem auto;
    }
}
