@media screen and (min-width: 768px) {

    main {
        max-width: 650px;
    }

    form {
        padding: 2rem;
    }

    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    fieldset label {
        margin-top: 0;
    }
}