*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

:root {
    --primary-color: #0B2545;
    --text-color: white;
}

/* header */
header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* main */
.hero-image {
    width: 100%;
}

.hero-image img {
    display: block;
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
}
/* ------------------------------ */
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px white solid;
    padding: 1rem;
}

.data div {
    display: grid;
    grid-template-columns: 100px 200px;
    width: 225px;
    column-gap: 20px;
    
}

.data div p:first-child {
    text-align: right;
}

.data div p:last-child {
    text-align: left;
}
 
.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px white solid;
    padding: 1rem;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.weather div {
    display: grid;
    grid-template-columns: 100px 100px;
    width: 220px;
    column-gap: 20px;
}

.weather div p:first-child {
    text-align: right;
}

.weather div p:last-child {
    text-align: left;
}
/* ------------------------------- */
/* footer */

footer {
    text-align: center;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1.5rem;
}