body {
    font-family: 'Oswald', sans-serif;
}

/* header */

#page-title {
    font-size: 2rem;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #4a4a4a;
    color: white;
    padding: 1rem;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ffeb3b;
    text-decoration: underline;
}

/* main */

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 250px;
    margin: 0 auto;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

figure {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
}

footer {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.5rem;
}

nav {
    display: none;
}

nav.open {
    display: block;
    width: 100%;
}

#menu {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}

#menu::before {
    content: "☰";
}