* {
    box-sizing: border-box;
}

/* header */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #1d3557;
    color: white;
    padding: 1rem;
    text-align: center;
}

.course-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: 457b9d;
    text-decoration: underline;
}

/* main */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: center;
}

aside {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
}
 aside h2 {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 0.75rem;
    margin-top: 0;
 }


.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about-content p {
    flex: 1;
}

.about-content img {
    width: 200px;
    height: auto;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 2rem;
}

.card h1 {
    background-color: #1d3557;
    color: white;
    padding: 0.75rem;
    text-align: center;
    margin-top: 0;
}

.card img {
    width: 200px;
    height: auto;
}

.location-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.location-content p {
    flex: 1;
}


.location-content figure {
    margin: 0;
    flex-shrink: 0;
}

.location-content img {
    width: 200px;
    height: auto;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.5rem;
}